body {
    font-family: 'Rubik', sans-serif;
    color: #2d2d2d;
}

h1 {
    font-size: 60pt;
    font-weight: 300;
    line-height: 1;
    margin: auto;
    width: 100%;
    color: #592ED8;
}

h2 {
    font-family: 'Lora', serif;
    font-size: 12pt;
    line-height: 1.3;
    margin-bottom: 15px;
}

p {
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
}

.bold {
    font-weight: 700;
}

.bubble-erica, .bubble-user {
    border-radius: 50px;
    padding: 20px 40px;
    margin: 30px 0px;
    background-color: white;
    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.2));
}

.bubble-erica {
    width: 100%;
    /* background-color: #EBE7FB; */
}

.bubble-erica p {
    color: #592ED8;
}

.bubble-erica p:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 60px;
    border-width: 15px 45px 0 0;
    border-color: white transparent;
    border-style: solid;
}

.bubble-user {
    /* background-color: #DDF3FD; */
    width: calc(66.7% - 15px);
    margin-left: calc(33.4% + 15px);
}

.bubble-user p {
    color: #008FD3;
}

.bubble-user p:after {
    content: '';
    position: absolute;
    bottom: -15px;
    right: 60px;
    border-width: 15px 0 0 45px;
    border-color: white transparent;
    border-style: solid;
}

.container {
    margin-bottom: 120px;
}

#erica-full {
    width: 100%;
}

.erica-square {
    width: calc(100% - 30px);
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
}

.flex {
    display: flex;
    align-items: center;
    height: 100%;
}

.h1-bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

.logo {
    height: 26px;
    margin-right: 4px;
}

#logo-wordmark {
    margin-top: 4px;
}

.narrator {
    width: 100%;
    margin-top: 30px;
}

.opacity-0 {
    opacity: 0;
}

.option {
    width: 100%;
    /* background-color: #DDF3FD; */
    background-color: white;
    border: 1px solid white;
    filter: drop-shadow(0px 3px 4px rgba(0,0,0,0.2));
    border-radius: 100px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 30px;
}

.option:hover {
    /* background-color: #58C3F6; */
    /* color: white; */
    border: 1px solid #008FD3;
}

.option p {
    text-align: center;
    color: #008FD3;
    /* color: #2d2d2d; */
}

#response-good {
    margin-bottom: 30px;
}

#row-header {
    padding: 30px 0;
}

#row-title {
    margin-top: 60px;
    margin-bottom: 90px;
}

.user {
    display: flex;
    flex-wrap: wrap;
}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 80pt;
    }
    h2 {
        font-size: 14pt;
    }
    p {
        font-size: 12pt;
    }
    .bubble-erica, .bubble-user {
        width: 87.5%;
    }
    .bubble-user {
        margin-left: 12.5%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    h1 {
        font-size: 60pt;
    }
    
    h2 {
        font-size: 14pt;
    }
    
    p {
        font-size: 12pt;
    }

    .bubble-erica, .bubble-user {
        width: 66.6%;
    }

    .bubble-user {
        margin-left: 33.4%;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #erica-full {
        width: 50px;
    }
}

/* ******************************************* */
/* *************** animations **************** */
/* ******************************************* */

@-webkit-keyframes opacity-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes opacity-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

.opacity-in {
	-webkit-animation: opacity-in 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: opacity-in 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-1 13:54:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-bottom {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(100px);
              transform: translateZ(-1400px) translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-bottom {
    0% {
      -webkit-transform: translateZ(-1400px) translateY(100px);
              transform: translateZ(-1400px) translateY(100px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  

.slide-in-fwd-bottom {
	-webkit-animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

